<h1> salut la compagnie </h1>

<h1 style="color:green">My green Drum Kit</h1>

<div class = "container">
  <div class = "bouton" id = "buttona"> A <br><br>CLAP</div>
  <div class = "bouton" id = "buttons"> S <br><br>HIHAT</div>
  <div class = "bouton" id = "buttond"> D <br><br>KICK</div>
  <div class = "bouton" id = "buttonf"> F <br><br>OPENHAT</div>
  <div class = "bouton" id = "buttong"> G <br><br>BOOM</div>
  <div class = "bouton" id = "buttonh"> H <br><br>RIDE</div>
  <div class = "bouton" id = "buttonj"> J <br><br>SNARE</div>
  <div class = "bouton" id = "buttonk"> K <br><br>TOM</div>
  <div class = "bouton" id = "buttonl"> L <br><br>TINK</div>
</div>

<audio id ="sounda" src ="../sounds/clap.wav"></audio>
<audio id ="sounds" src ="../sounds/hihat.wav"></audio>
<audio id ="soundd" src ="../sounds/kick.wav"></audio>
<audio id ="soundf" src ="../sounds/openhat.wav"></audio>
<audio id ="soundg" src ="../sounds/boom.wav"></audio>
<audio id ="soundh" src ="../sounds/ride.wav"></audio>
<audio id ="soundj" src ="../sounds/snare.wav"></audio>
<audio id ="soundk" src ="../sounds/tom.wav"></audio>
<audio id ="soundl" src ="../sounds/tink.wav"></audio>

